---
BasedOnStyle: LLVM
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: InlineOnly
AlignConsecutiveDeclarations: 'true'
AlignConsecutiveAssignments: 'true'
ColumnLimit: 80
PointerAlignment: Left
SortIncludes: 'true'
TabWidth: '2'
...
