---
BasedOnStyle: LLVM
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
ColumnLimit: 0
PointerAlignment: Left
SortIncludes: CaseSensitive
TabWidth: 2
...
